{% extends 'blog/base.html' %}

{% block content %}
	<div class="post-edit" style="min-height:800px;">
		<div class="jumbotron">
		  <h1 class="display-3 word-break: break-word; word-wrap: break-word;">Nova postagem</h1>
		  <form method="POST" class="post-form">{% csrf_token %}
				<div class="form-group">
		      <label for="title">Título</label>
		      <input name="title" type="text" maxlength="30" class="form-control" id="title" aria-describedby="title" placeholder="Digite o título de sua postagem">
		    </div>
				<div class="form-group">
		      <label for="text">Texto</label>
		      <textarea name="text" style="min-height:400px;" class="form-control" id="text"></textarea>
		    </div>
		  	<button type="submit" class="btn btn-primary btn-lg">Postar</button>
		  </form>
		</div>
	</div>
{% endblock %}