<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
</head>
<body>
	<div>
		<h1><a href="/">Meu Blog - As vezes eu gosto de fingir que sou um técnico de futebol</a></h1>
	</div>

	<div>
		<p>Publicado em: 05/11/2018, 18:05</p>
		<h2><a href="">A influência do psicológico no futebol e na sua vida</a></h2>
		<p>
			Atualmente temos visto jogos de futebol patéticos praticados em nosso país. Me incomoda isso estar acontecendo
			e ninguém falar absolutamente nada. Ninguém se questiona, por que isso está acontecendo? Quais os reais motivos
			que fazem com que jogadores não consigam chutar uma mísera bola?
		</p>
		<p>
			Eu lhes respondo! Penso eu que tudo é psicológico. As coisas não são tão simples como pensamos que elas são,
			temos jogadores psicologicamente mal preparados e que não conseguem executar bem o seu papel dentro de campo.
		</p>
	</div>
</body>
</html>